@import "tailwindcss";

@plugin "tailwindcss-animate";

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

/* .mobile_screen_nav {
  position: absolute;
  top: 10rem;
  left: 50%;
  right: 0;
} */
